.borderTop {
  position: relative;
}

.sectionWrap{
  position: relative;
  display: flex;
  align-items: flex-start;
  vertical-align: top;
  margin: 0 15px;
  z-index: 5;
}
@media (min-width: 768px) {
  .sectionWrap{
    margin: 0 107px 0 70px;
  }
}

.sectionDate {
  position: relative;
  display: flex;
  align-items: flex-start;
  vertical-align: top;
}


.sectionYearTtl,
.sectionDateTtl {
  z-index: 9;
  position: sticky;
  left: 0;
  display: inline-block;
  font-size: 17px;
  line-height: 1;
  top: 180px;
  writing-mode: vertical-rl;
  padding-top: 10px;
  padding-right: 1px;
}
@media (min-width: 768px) {
  .sectionYearTtl {
    padding-left: 6px;
    padding-right: 6px;
  }
  .sectionDateTtl {
    padding-right: 14px;
  }
}

.sectionDateTtl {
  width: 30px;
  padding-bottom: 12.5px;
}
@media (min-width: 768px) {
  .sectionYearTtl,
  .sectionDateTtl {
    font-size: 15px;
  }
  .sectionDateTtl {
    width: 50px;
    padding-bottom: 19px;
  }
}

/* 検索画面の時のみsectionWrapに.sectionWrapSearchが追加 */

.sectionWrapSearch .sectionDateTtl{
  display: none;
}

.sectionYearTtl{
  margin-right: 10px;
  border-top: solid 1px #000;
  padding-top: 10px;
}
@media (min-width: 768px) {
  .sectionYearTtl,
  .sectionDateTtl {
    top: 260px;
    font-size: 30px;
    padding-top: 17px;
  }
  .sectionYearTtl{
    margin-right: 31px;
  }
}


.sectionDate {
  position: relative;
  border-top: 1px solid #000;
}


/* viewType */

.listStyle{
  border-top: solid 1px #000;
}

.list {
  width: 100%;
}
.list .item {
  width: 100%;
}
@media (min-width: 768px) {
  .list {
    margin-left: auto;
    width: calc(100% - 65px);
  }
}

.item{
  border-top: solid 1px #000;
}
.item:nth-of-type(1){
  border-top: none;
}


.image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.image .item {
  width: 47%;
}
.image .item:nth-of-type(1){
  border-top: none;
}
.image .item:nth-of-type(2){
  border-top: none;
}

@media (min-width: 768px) {
  .image {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0 2.154%;
    padding-left: 30px;
  }

  .image .item {
    width: 23.3%;
  }
  .image .item:nth-of-type(1){
    border-top: none;
  }
  .image .item:nth-of-type(2){
    border-top: none;
  }
  .image .item:nth-of-type(3){
    border-top: none;
  }
  .image .item:nth-of-type(4){
    border-top: none;
  }
}


/* 検索語のCSS */
.searchModeSectionDate{
  width: 83.5%;
  margin: 0 4.28% 0 auto;
}
@media (min-width: 768px) {
  .searchModeSectionDate{
    margin: 0 7.2% 0 auto;
    width: 85.8%;
  }
}
