.header {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  padding-top: 7.5%;
  padding-bottom: 17.5%;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 5%;
    padding-bottom: 5%;
  }
}

.headerLogo {
  width: 77%;
}