.article {
  display: block;
  position: relative;
  padding: 5px 8px 13px;
}
@media (min-width: 768px) {
  .article {
    transition: background-color 0.3s ease;
    background-color: #fff;
  }

  .image .articleStaff::after{
    transition: background-color 0.3s ease;
  }

  .article:hover {
    background-color: #FFF171;
  }
  .image.article:hover .articleStaff::after{
    background-color: #fff;
  }
}

.image.article {
  padding: 5px 0 15px;
}
.image.article .articleTtl,
.image .articleBottom {
  padding: 0 7.5px;
}
.list.article {
  padding: 20px 7.5px 15px;
}
@media (min-width: 768px) {
  .list.article {
    padding: 17px 7.5px;
  }
  .image.article {
    padding: 5px 0 20px;
  }
  .image.article .articleTtl,
  .image .articleBottom {
    padding: 0 15px 0 10px;
  }
}

.articleThumb {
  width: 100%;
  position: relative;
  padding-top: 52.5%;
}

.articleTtl{
  font-size: 12px;
  display: block;
  line-height: 1.4;
}

.image .articleTtl {
  margin-bottom: 8px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  min-height: 48px;
}

.articleDesc{
  font-size: 10px;
  line-height: 1.5;
  margin-top: 16px;

  /* テキスト、3行でクランプ */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
@media (min-width: 768px) {
  .articleDesc{
    font-size: 12px;
  }
}
.image .articleDesc{
  display: none;
}

.articleBottom{
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: flex-end;
  margin: 14px 0 0 auto;
}
@media (max-width: 768px) {
  .articleBottom{
    padding-right: 4px;
  }
}
.image .articleBottom{
  display: block;
  margin: 0;
  width: 100%;
}
@media (min-width: 768px) {
  .image .articleBottom{
    padding: 0 17px;
  }
  .image .articleBottom > button:not(:last-child) {
    margin-right: 24px;
  }
}

.articleStaff{
  display: block;
  position: relative;
  padding-left: 12px;
  margin-right: 27px;
}
.image .articleStaff{
  padding-left: 15px;
}
@media (max-width: 768px) {
  .image .articleStaff{
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .articleStaff{
    margin-right: 12%;
  }
}


.articleStaff::after{
  content: "";
  position: absolute;
  width: 6.8px;
  height: 6.8px;
  border-radius: 50%;
  background: #FFF171;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.articleBottomBtns{
  display: flex;
}
.articleBottomBtns > button:not(:last-child) {
  margin-right: 17px;
}
@media (min-width: 768px) {
  .image .articleBottomBtns > button:not(:last-child) {
    margin-right: 21px;
  }
}

.image .articleBottomBtns{
  margin-top: 9px;
  justify-content: right;
}

.articleCover{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  opacity: 0;
  transition: all .3s ease;
  pointer-events: none;
  padding: 24px 43px;
  display: flex;
  align-items: center;
}
.articleCover.visible{
  opacity: 1;
  pointer-events: auto;
}

.articleComment{
  color: #fff;
  display: block;
  font-size: 12px;
  line-height: 1.5;
}

.image .articleCover {
  padding: 16px 14px;
}

/* mdスクリーン以上（768px～）でサイズ変更 */
@media (min-width: 768px) {
  .article{
    display: grid;
    grid-template-columns: 33% 47.5% 19.5%;
    width: 100%;
    min-height: 95px;
  }
  .image.article{
    display: block;
  }
  
  .articleTtl {
    flex: 1.00;
    padding:0 22px 0 10px;
    font-size: 14px;
  }
  .list .articleTtl {
    display: flex;
    align-items: center;
  }
  .image .articleTtl {
    min-height: 61px;
  }

  .articleDesc{
    margin-top: 0;
    flex: 1.44;
    position: relative;
    padding: 0 29px;
    display: flex;
    align-items: center;
  }
  .articleDesc::after{
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
    width: 1px;
    height: 60px;
    background: #000;
    transform: translateY(-50%);
  }
  .articleDesc::before{
    position: absolute;
    top: 50%;
    right: 0;
    content: "";
    width: 1px;
    height: 60px;
    background: #000;
    transform: translateY(-50%);
  }

  .articleBottom{
    margin: 0;
    flex: 0.60;
    justify-content: center;
  }
  .image .articleBottom{
    display: flex;
    justify-content: right;
    align-items: center;
    vertical-align: middle;
  }
  .image .articleBottomBtns{
    margin-top: 0px;
  }

  /* hover */
  .articleBottomBtns > button {
    transition: scale 0.3s ease;
    scale: 1;
  }
  .articleBottomBtns > button:hover {
    scale: 1.1;
  }
}
