.article {
  display: block;
  position: relative;
  padding: 20px 8px 13px;
}
@media (min-width: 768px) {
  .article {
    transition: background-color 0.3s ease;
    background-color: #fff;
  }
  .article:hover {
    background-color: #FFF171;
  }
}

.image.article{
  padding: 0 0 12.5px;
  height: 100%;
}

.articleThumb {
  width: 100%;
  position: relative;
  padding-top: 52.5%;
}

.articleTtl{
  font-size: 12px;
  display: block;
  line-height: 1.4;
  padding: 0 9px;
}

.image .articleTtl{
  margin-bottom: 8px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  min-height: 48px;
}

.article__desc{
  font-size: 10px;
  line-height: 1.5;
  margin-top: 16px;

  /* テキスト、3行でクランプ */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
@media (min-width: 768px) {
  .article__desc{
    font-size: 12px;
  }
}
.image .article__desc{
  display: none;
}

.article__bottom{
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: flex-end;
  margin: 14px 0 0 auto;
}
@media (max-width: 768px) {
  .article__bottom{
    padding-right: 4px;
  }
}
.image .article__bottom{
  display: block;
  margin: 0;
  width: 100%;
  padding: 0 9px;
}
@media (min-width: 768px) {
  .image .article__bottom{
    padding: 0 17px;
  }
  .image .article__bottom > button:not(:last-child) {
    margin-right: 24px;
  }
}

.articleStaff{
  display: block;
  position: relative;
  padding-left: 12px;
  margin-right: 27px;
}
.image .articleStaff{
  padding-left: 15px;
}
@media (max-width: 768px) {
  .image .articleStaff{
    margin-right: auto;
  }
}

.articleStaff::after{
  content: "";
  position: absolute;
  width: 6.8px;
  height: 6.8px;
  border-radius: 50%;
  background: #FFF171;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.article__bottom__btns{
  display: flex;
}
.article__bottom__btns > button:not(:last-child) {
  margin-right: 17px;
}
@media (min-width: 768px) {
  .image .article__bottom__btns > button:not(:last-child) {
    margin-right: 21px;
  }
}

.image .article__bottom__btns{
  margin-top: 9px;
  justify-content: right;
}

.article__cover{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  opacity: 0;
  transition: all .3s ease;
  pointer-events: none;
  padding: 24px 43px;
  display: flex;
  align-items: center;
}
.article__cover.visible{
  opacity: 1;
}

.article__comment{
  color: #fff;
  display: block;
  font-size: 12px;
  line-height: 1.5;
}

.image .article__cover {
  padding: 16px 14px;
}

/* mdスクリーン以上（768px～）でサイズ変更 */
@media (min-width: 768px) {
  .article{
    display: grid;
    grid-template-columns: 33% 47.5% 19.5%;
    padding: 5px 0;
    width: 100%;
    min-height: 95px;
  }
  .image.article{
    display: block;
    padding: 0 0 19px;
  }
  
  .articleTtl {
    flex: 1.00;
    padding:0 22px 0 10px;
    font-size: 14px;
  }
  .list .articleTtl {
    display: flex;
    align-items: center;
  }
  .image .articleTtl {
    min-height: 65px;
  }

  .article__desc{
    margin-top: 0;
    flex: 1.44;
    position: relative;
    padding: 0 29px;
    display: flex;
    align-items: center;
  }
  .article__desc::after{
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
    width: 1px;
    height: 60px;
    background: #000;
    transform: translateY(-50%);
  }
  .article__desc::before{
    position: absolute;
    top: 50%;
    right: 0;
    content: "";
    width: 1px;
    height: 60px;
    background: #000;
    transform: translateY(-50%);
  }

  .articleStaff{
    width: 96px;
  }

  .article__bottom{
    margin: 0;
    flex: 0.60;
    justify-content: center;
  }
  .image .article__bottom{
    display: flex;
    justify-content: right;
    align-items: center;
    vertical-align: middle;
  }
  .image .article__bottom__btns{
    margin-top: 0px;
  }

  .image .article__bottom__btns > button {
    transition: scale 0.3s ease;
    scale: 1;
  }
  .image .article__bottom__btns > button:hover {
    scale: 1.1;
  }
}
