

.searchBar{
    width: 80%;
    margin: 15.2% auto 12.5%;
    z-index: 100;
    position: relative;
}

@media (min-width: 768px) {
    .searchBar{
        max-width: 1158.56px;
        margin: 15% auto 0;
        width: 80.45%;
        
    }
}