

.searchBar{
    width: 80%;
    margin: 15.2% auto 12.5%;
}

@media (min-width: 768px) {
    .searchBar{
        position: fixed;
        top: 0;
        right: 0;
        margin: 8.19% 16.17% 0 0;
        width: 20.8%;
        z-index: 100;
    }
}