// pcサイズ
@mixin pc {
  @media screen and (min-width: 769px) {
    @content;
  }
}

// spサイズ
@mixin sp {
  @media screen and (max-width: 768px) {
    @content;
  }
}

// font size
@function get_vw($size, $viewport: 375) {
  $rate: calc(100 / $viewport);
  $calc: round($rate * $size * 10vw);
  $calc2: calc($calc / 10);
  @return $calc2;
}
@mixin fz_vw($font_size) {
  @include sp {
    font-size: get_vw($font_size);
  }
  @include pc {
    font-size: get_vw($font_size, 1440);
  }
}